header {
    background-color: #82a1b1;
    width: 1330px;
    height: 130px;
    text-align: center;
    vertical-align: center;
    position: relative;
}
img {
    height: 25mm;
    width: 25mm;
    float: left;
    position: absolute;
    left: 150px;
    top: 15px;
}
h1 {
    color: #000000;
    font-family: "Courier New";
    text-align: center;
    font-size: 30mm;
}
section
{
    float: left;
    width: 600px;
    height: 200px;
    background: #82a1b1;
    margin-top: 80px;
    margin-right: 140px;
    margin-left: 255px;
    padding-bottom: 30px;
}
form{
    vertical-align: middle;
    horiz-align: center;
    text-align: center;
    font-size: 30px;
    padding: 60px;
    font-family: "Courier New";
}
button
{
    font-size: 20px;
    border-radius: 2px;
}
.inpj1
{
    font-size: 20px;
}
.inpj2
{
    font-size: 20px;
}
input
{
    font-size: 20px;
}
aside
{
    width: 300px;
    height: 480px;
    background: #82a1b1;
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
    margin: 3px;
}
h3
{
    text-align: center;
    font-size: 10mm;
    line-height: 10px;
    font-family: "Courier New";
    padding-left: 15px;
}

li{
    text-align: justify;
    font-size: 5mm;
    font-family: "Arial";
}
body
{
    background-color: #ea899a;
}
#puntajes
{
    float: left;
    width: 300px;
    height: 430px;
    background: #82a1b1;
    margin: 10px;
}
#sectionjuego
{
    float: left;
    position: relative;
    width: 972px;
    height: 430px;
    background: #82a1b1;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 1px;
    padding-bottom: 30px;
}
#horca
{
    position: absolute;
    width: 200px;
    height: 260px;
    top: 100px;
    left:80px;
}


#letras
{
    text-align: center;
    font-size: 10mm;
    line-height: 10px;
    font-family: "Courier New";
    padding-left: 15px;
}


#nombrejug
{
    background-color: #ffb3e7;
    padding-left: 15px;
    padding-right: 20px;
    margin-left: 300px;
    margin-top: 80px;
}
#ingpalabras
{
    float: left;
    position: relative;
    width: 800px;
    height: 400px;
    background: #82a1b1;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 30px;
}

#inpingresar
{
    font-size: 25px;
    margin-top: 20px;
}
/*juego.html*/

#h3p
{
    text-align: center;
    font-size: 10mm;
    line-height: 8px;
    font-family: "Courier New";
    padding-left: 15px;
}
#puntaje
{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 100px;
}
#il
{
    padding-top: 0px;
    text-align: center;
    font-size: 8mm;
    line-height: 8px;
    font-family: "Courier New";
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 50px;
}
#completra
{
    border-radius: 2px;
    margin-top: 20px;
    width: 150px;
    height: 30px;
    margin-left: 250px;
    font-size: 20px;
    color: #ff368a;
}

#output
{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 350px;
    margin-top: 280px;
    position: absolute;
    font-size: 10mm;
    font-family: "Courier New";
    font-weight: bold;
}
#avocados
{
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top:0px;
    height: 250px;
    width: 130px;
    background-image: url("Imágenes/94 sin título_20210615213655.png");
}
#reinicio
{
margin-left: 100px;
margin-top: 150px;
color: #ff368a;
}